body {
    font-family: 'Courier', serif;
    color: #191414;
    background-color:rgb(251,251,251);
}
.container {
    background-color:rgb(254,254,254);
    border-style: solid;
    border-width: 1px;
    border-color: rgb(240,240,240);
    border-radius: 3px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.04), 0 2px 6px rgba(0,0,0,0.05);
    margin-bottom: 1em;
    max-width: 65em;

}
.top-row{
    padding: 1.5em 0.75em 1.0em 0.75em ;
    /* padding-bottom: 0.25em; */
}
.top-row-underline {
    margin-left: -5px;
    margin-right: -5px;
    border-style: none;
    border-bottom-style: solid;
    border-width: 1px;
    border-color: rgb(200,200,200);
}
#top-row-title {
    font-size: 1.75em;
    padding-left: 0.5em;
}
h1 {
    font-size: 2rem;
    margin-bottom: 0em;
}
h2 {
    font-family: 'Courier', serif;
    font-size: 1.25em;
    margin-top: 0.5em;
}
.top-row-item {
    font-size: 1.2rem;
    padding-top: 0.5rem;
}
.content {
    font-family: 'Open Sans', 'Segoe UI', 'Helvetica', 'Arial' ,sans-serif;
    font-size: 1.05em;
    padding: 2em;
    padding-top: 1em;
    padding-bottom: 0.5em;
}