body {
    color: #000000;
    background-color:rgb(248,248,248);
}
h1 {
    font-family: 'Roboto', sans-serif;
    /*https://css-tricks.com/snippets/css/prevent-long-urls-from-breaking-out-of-container/*/
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    word-break: break-word;
}

h2 {
    font-family: 'Roboto', sans-serif;
}

h3 {
    font-family: 'Roboto', sans-serif;
}

h4 {
    font-family: 'Roboto', sans-serif;
}

h5 {
    font-family: 'Roboto', sans-serif;
}

a, a:hover {
     color: inherit;
} 
a:active {
    text-decoration: underline;
}

.top-row{
    font-family: 'Roboto Mono', 'Courier', serif;
    padding: 1.0rem 1.5rem 0.5rem 1.5rem ;
}

.navbar-site-title {
    font-size: 1.75rem;
    padding-top: 0rem;
    padding-bottom: 0.25rem;
    margin-left: 1.5rem;
}

.navbar-spacer {
    padding: 0;
}

.navbar-section-title {
    font-size: 1.25rem;
    padding-top: 0.5rem;
    padding-bottom: 0.25rem;
}

.underline {
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 1rem;
    border-style: none;
    border-bottom-style: solid;
    border-width: 1px;
    border-color: rgb(200,200,200);
}

.container {
    padding: 0em;
    background-color:rgb(250,250,250);
    border-style: solid;
    border-width: 1px;
    border-color: rgb(240,240,240);
    border-radius: 3px;
    /* box-shadow: 0 2px 6px rgba(0,0,0,0.05), 0 2px 6px rgba(0,0,0,0.05); */
    margin-bottom: 0.5rem;
}

.highlight {
    padding: 0.5rem;
    margin: 0rem;
}
div > .highlighter-rouge {
    color: #191414;
    background-color:rgb(230,230,230);
    margin: 1.5rem 0rem 1.5rem 0rem;
}

.highlighter-rouge {
    color: #191414;
    background-color:rgb(230,230,230);
}

.page-title {
    padding: 1.5rem 0.25rem 0.5rem 0.25rem;
}

.content .page-title a {
    text-decoration: none;
    /* padding: 1.5rem 0.25rem 0.5rem 0.25rem; */
}

.content {
    padding: 1rem;
}
.content a {
    text-decoration: underline;
}

.resource-content {
    padding: 0rem;
}

.content > h2, .resource-content > h2 {
    margin-top: 2.75rem;
    margin-bottom: 1rem;
}

blockquote {
    padding: 0 1em;
    color: #6a737d;
    border-left: .25em solid #dfe2e5;
}
