body {
    line-height: 1.6rem;
    font-family: 'Courier', serif;
    color: #24292e;
    background-color:rgb(245,245,245);
}
h1 {
    font-family: 'Courier', serif;
    font-size: 2rem;
}
h2 {
    font-size: 1.5rem;
}
h3 {
    font-size: 1.25rem;
    margin-top: 1.5rem;
}
a, a:hover {
     color: inherit;
} 
a:active {
    text-decoration: underline;
}

.top-row{
    padding: 1.25rem 1.0rem 1.0rem 1.55rem ;
}
.top-row-item {
    font-size: 1.2rem;
    padding-top: 0.5rem;
}
.underline {
    margin-left: 5px;
    margin-right: 5px;
    border-style: none;
    border-bottom-style: solid;
    border-width: 1px;
    border-color: rgb(200,200,200);
}

.container {
    padding: 0em;
    background-color:rgb(250,250,250);
    border-style: solid;
    border-width: 1px;
    border-color: rgb(240,240,240);
    border-radius: 3px;
    /* box-shadow: 0 2px 6px rgba(0,0,0,0.05), 0 2px 6px rgba(0,0,0,0.05); */
    margin-bottom: 1rem;
}

.highlight {
    padding: 0.5rem;
    margin: 0rem;
}
div > .highlighter-rouge {
    color: #191414;
    background-color:rgb(230,230,230);
    margin: 1.5rem 0rem 1.5rem 0rem;
}

.highlighter-rouge {
    color: #191414;
    background-color:rgb(230,230,230);
}

#top-row-title {
    font-size: 1.75em;
    padding-left: 0.5em;
}



.page-title {
    padding: 1.5rem 0.25rem 0.5rem 0.25rem;
}

.content {
    font-family: 'Georgia', 'Open Sans', 'Segoe UI', 'Helvetica', 'Arial' ,sans-serif;
    font-size: 1.05rem;
    padding: 1rem 1rem 1rem 1rem;
}
.content a {
    text-decoration: underline;
}

.resource-content {
    padding: 0rem;
}

.content > h2, .resource-content > h2 {
    margin-top: 2.75rem;
    margin-bottom: 1rem;
}
