body {
    font-family: 'Courier New', 'Courier', serif;
    color: #191414;
    background-color:rgb(254,254,254);
}
.container {
    background-color:rgb(254,254,254);
    border-style: solid;
    border-width: 1px;
    border-color: rgb(240,240,240);
    border-radius: 3px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.04), 0 2px 6px rgba(0,0,0,0.05);
    margin-bottom: 1em;

}
.top-row {
    padding: 0.75em 0.75em 0em 0.75em ;
    display: flex;
}
#top-row-title {
    font-size: 1.75em;
}
.item-row{
    padding-bottom: 0.25em;
    border-style: none;
    border-bottom-style: solid;
    border-width: 1px;
    border-color: rgb(200,200,200);
    border-radius: 0px;
}
.top-row-item {
    font-size: 1em;
    margin:auto;
    margin-bottom: 0em;
    margin-left: 0em
}