body {
    line-height: 1.6rem;
    color: #000000;
    background-color:rgb(248,248,248);
}
h1 {
    font-family: 'Roboto Mono', 'Courier', serif;
}

a, a:hover {
     color: inherit;
} 
a:active {
    text-decoration: underline;
}

.top-row{
    font-family: 'Roboto Mono', 'Courier', serif;
    padding: 1.5rem 1.5rem 1.0rem 1.5rem ;
}
.top-row-item {
    font-size: 1.5rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}
.underline {
    margin-left: 5px;
    margin-right: 5px;
    border-style: none;
    border-bottom-style: solid;
    border-width: 1px;
    border-color: rgb(200,200,200);
}

.container {
    padding: 0em;
    background-color:rgb(250,250,250);
    border-style: solid;
    border-width: 1px;
    border-color: rgb(240,240,240);
    border-radius: 3px;
    /* box-shadow: 0 2px 6px rgba(0,0,0,0.05), 0 2px 6px rgba(0,0,0,0.05); */
    margin-bottom: 0.5rem;
}

.highlight {
    padding: 0.5rem;
    margin: 0rem;
}
div > .highlighter-rouge {
    color: #191414;
    background-color:rgb(230,230,230);
    margin: 1.5rem 0rem 1.5rem 0rem;
}

.highlighter-rouge {
    color: #191414;
    background-color:rgb(230,230,230);
}

#top-row-title {
    font-size: 2rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
} 


.page-title {
    padding: 1.5rem 0.25rem 0.5rem 0.25rem;
}

.content {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
    padding: 1rem;
}
.content a {
    text-decoration: underline;
}

.resource-content {
    padding: 0rem;
}

.content > h2, .resource-content > h2 {
    margin-top: 2.75rem;
    margin-bottom: 1rem;
}
