---
layout: default
---

<h2 class="page-title"><a href="/projects">Projects</a></h2>
<div class="underline"></div>

<h4>Learn Auth With Golang</h4>
<ul>
    {% assign ordered_learn_auth_with_golang_posts = site.project_learn_auth_with_golang | sort:"order_number" %}
    {% for learn_auth_with_golang_post in ordered_learn_auth_with_golang_posts %}
    <li>
        <hp><a href="{{ learn_auth_with_golang_post.url }}">{{ learn_auth_with_golang_post.title }}</a></p>
    </li>
    {% endfor %}
</ul>

<h2 class="page-title">Resources</h2>
<div class="underline"></div>

<h4>Development Setup & Configuration</h4>
<ul>
    {% assign ordered_dev_setup_guides = site.resources_dev_setup_guides | sort:"order_number" %}
    {% for dev_setup_guide in ordered_dev_setup_guides %}
    <li>
        <hp><a href="{{ dev_setup_guide.url }}">{{ dev_setup_guide.title }}</a></p>
    </li>
    {% endfor %}
</ul>